.project-page-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project-page-content {
  background: white;
  margin-top: 125px;
  text-align: center;
  width: 70%;
}

.project-page-content {
  width: 70%;
}

.project-page-content h1 {
  font-size: 55px;
  margin-bottom: 50px;
}

.project-page-content > p {
  margin-bottom: 50px;
}

.project-links {
  margin-bottom: 70px;
}


.bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: black;
  background: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

@media (max-width: 600px) {
  .bn5 {
    margin: 7px
  }
  .project-page-content {
    width: 80%;
  }
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #00ffd5,
    #002bff,
    #7a00ff,
    #00ffd5
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(4px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  border: 1px solid black;
  left: 0;
  top: 0;
  border-radius: 10px;
  transition: 0.3s;
}

.bn5:hover:after {
  left: -1px;
  top: -1px;
}

/* background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  ); */

  .back-to-project {
    position: absolute;
  }

  .back-to-project img{
    transition: 0.3s;
    border-radius: 50%;
  }

  .back-to-project img:hover {
    scale: 1.1;
    background: rgba(128, 128, 128, 0.11);
    box-shadow: 5px 1px rgba(128, 128, 128, 0.363);
    filter: invert(16%) sepia(77%) saturate(2788%) hue-rotate(212deg) brightness(96%) contrast(109%);

  }
