.about {
  background: white;
  margin-top: 150px;
  text-align: center;
  width: 70%;
}

.about-container {
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
}

.about h1 {
  letter-spacing: 10px;
  font-size: 48px;
  line-height: 47px;
}

.mantar {
  margin-bottom: 50px;
}

.about > p {
  margin-bottom: 50px;
}
