.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  background-color: #282c34;
  min-height: 20vh;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.footer .links, .get-in-touch{
  list-style-type: none;
}

.App-link {
  color: #61dafb;
}

.Nav-bar {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.skills {
  list-style-type: none;
  display: flex;
  /* width: 60%; */
  justify-content: space-around;
}

.skills > li {
  border: 1px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
