nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Hack, monospace;
  text-align: center;
  margin: 25px 0;
  top: 0;
  background: #f9f9f9ad;
  padding: 25px 5px;
  border-radius: 50px;
  height: 20px;
  width: 520px;
  transition: background .3s;
}

nav:hover {
  background: #f5f5f5c4;
}

nav .menuItems {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

nav a {
  display: flex;
  text-decoration: none;
  color: #585656ad;
  font-size: 24px;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

nav a::before {
  z-index: 1;
  content: attr(data-item);
  transition: 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
  padding-bottom: 5px;
  /* text-decoration: underline; */
}

nav a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

li:nth-child(1) a::before {
  color:#4f50b9
}

li:nth-child(2) a::before {
  color: #3f7abd;
}

li:nth-child(3) a::before {
  color: #368bbf;
}

li:nth-child(4) a::before {
  color: #279cc1;
}

nav ul {
  padding: 0;
}

